<main>
  <article class="club-info">
    <h1 class="club-name">{{data.club.name}}</h1>
    <img class="club-crest" src="{{data.club.crestUrl}}" alt="Club crest of {{data.club.name}}">
    <div id="action-buttons">
      <button  class="edit-btn" type="button">
        <a href="/club-update/{{data.club.id}}">EDIT</a>
      </button>
      <button data-club-id="{{data.club.id}}" class="delete-btn" type="button">DELETE</button>
    </div>
    <div id="founded-info" class="info-div">
      <h2>Founded</h2>
      <p>{{data.club.founded}}</p>
    </div>
    <div id="venue-info" class="info-div">
      <h2>Venue</h2>
      <p>{{data.club.venue}}</p>
      <p>{{data.club.address}}</p>
    </div>
    <div id="contact-info" class="info-div">
      <ul><h2>Contact</h2>
        <li><strong>Phone:</strong> {{data.club.phone}}</li>
        <li><strong>Website:</strong>{{data.club.website}}</li>
        <li><strong>Email:</strong>{{data.club.email}}</li>
      </ul>
    </div>
  </article>
</main>