<main>
  <article class="club-info">
    <h2>{{data.club.name}}</h2>
    <img src="{{data.club.crestUrl}}" alt="Club crest of {{data.club.name}}">
    <div>
      <h3>Founded</h3>
      <p>{{data.club.founded}}</p>
    </div>
    <div>
      <h3>Venue</h3>
      <p>{{data.club.venue}}</p>
      <p>{{data.club.address}}</p>
    </div>
    <div>
      <ul><h3>Contact</h3>
        <li><strong>Phone:</strong> {{data.club.phone}}</li>
        <li><strong>Website:</strong>{{data.club.website}}</li>
        <li><strong>Email:</strong>{{data.club.email}}</li>
      </ul>
    </div>
  </article>
</main>