<main>
  <h1>England's Clubs!</h1>

  <table>
    <tr>
      <th>Crest</th>
      <th>Club</th>
      <th>País</th>
      <th>Acción</th>
    </tr>
    {{#each data.clubs as |club|}}
    <tr>
      <td class="club-crests"><img src="{{club.crestUrl}}" alt="crest of {{club.name}}"></td>
      <td>{{club.name}}</td>
      <td>{{club.area.name}}</td>
      <td><a href="/club/{{club.id}}">Ver</a> <a href="/club-update/{{club.id}}">Editar</a> <a href="/club/{{club.id}}/delete">Eliminar</a></td>
    </tr>
    {{/each}}
  </table>
</main>
